/*---------  HISTORIA ----------*/
.columna{
    
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 10px;
}
.columna img{
    width: 28%;
    height: 0 ;
    padding: 16px;
    margin: 16 px 0;
    display: flex;
    gap: 32px;
    align-items: center
}


/*--------- FIN DE HISTORIA ------*/


